.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  box-sizing: border-box;
  padding: 20px 45px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
}
.nav__btn {
  position: relative;
}
.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__notification--small {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: 0;
}
