.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  box-sizing: border-box;
  padding: 20px 45px;
  border-top: var(--main-border);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
}
.nav__btn {
  position: relative;
}
.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__notification--small {
  position: absolute;
  right: 0;
}
